<!DOCTYPE html>
<html ng-app="contaApp">
<head>
    <meta charset="utf-8">

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>Banco Norne</title>
</head>
<body>
    <h2>Contas</h2>
    <div ng-controller="ContaController">
        <div ng-show="isListar">

            <div class="col-lg-12" ng-hide="contas.length == 0">
                <div class="table-responsive">
                    <table class="table table-hover table-striped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th>Número Conta</th>
                                <th>Tipo Conta</th>
                                <th>Situação Conta</th>
                                <th>Saldo</th>
                                <th data-hide="all"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="conta in contas">
                                <td>
                                    {{conta.codigoConta}}
                                </td>
                                <td>
                                    {{conta.Tipo}}
                                </td>
                                <td>
                                    {{conta.Situacao}}
                                </td>
                                <td>
                                    {{conta.Saldo}}
                                </td>
                                <td width="140" class="text-center">
                                    <button ng-click="$event.preventDefault();aprovarConta(conta, $index)">
                                        Aprovar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <button ng-click="iniciarCriacao()">
                Nova Conta
            </button>
        </div>

        <div ng-show="!isListar">
            <form name="myForm">
                <div class="form-group">
                    <label class="col-md-2">Nome Ciente</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Nome" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">CPF</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Cpf" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Identidade</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Identidade" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Renda Mensal</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.rendaMensal" type="number" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Telefone 1</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.TelefonePrincipal" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Telefone 2</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.TelefoneAlternativo" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Email</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Email" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Endereço</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Logradouro" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Número</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Numero" type="number" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Complemento</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Complemento" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Cep</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Cep" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Cidade</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.Cidade" type="text" class="form-control" />
                    </div>
                </div><br />

                <div class="form-group">
                    <label class="col-md-2">Tipo Conta</label>
                    <div class="col-md-10">
                        <select ng-model="contaModel.tipoString" ng-options="tipo as tipo for tipo in tipos"
                                ng-init="contaModel.tipoString='Conta Corrente'" ng-change="contaTipoChangeHandler(contaModel.tipoString)"></select>
                    </div>
                </div><br />

                <div class="form-group" ng-show="isCNPJ">
                    <label class="col-md-2">CNPJ</label>
                    <div class="col-md-4">
                        <input ng-model="contaModel.cnpjFontePagadora" type="text" class="form-control" placeholder="CNPJ" />
                    </div>
                </div><br />
                <div class="form-group" ng-show="isEspecial">
                    <label class="col-md-2">Limite</label>
                    <div class="col-md-10">
                        <input ng-model="contaModel.LimiteChequeEspecial" type="text" class="form-control" placeholder="Limite" />
                    </div>
                </div><br />


                <div class="form-group">
                    <label class="col-md-2"></label>
                    <div class="col-md-4">
                        <button ng-click="abrirConta()">
                            Salvar
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</body>
</html>